{sys, [
       {lib_dirs, ["../deps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "mylittlepony", "1",
        [
         kernel,
         stdlib,
         sasl,
         {lager, transient},
         {ranch, transient},
         {gproc, transient},
         pony_core
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "mylittlepony"},
       {profile, embedded},
       {incl_cond, derived},
       {mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, hipe, [{incl_cond, exclude}]},
       {app, lager, [{mod_cond, app}, {incl_cond, include}]},
       {app, ranch, [{mod_cond, app}, {incl_cond, include}]},
       {app, gproc, [{mod_cond, app}, {incl_cond, include}]},
       {app, pony_core, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "mylittlepony"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/mylittlepony", "bin/mylittlepony"},
           {copy, "files/mylittlepony.cmd", "bin/mylittlepony.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
           {copy, "files/privkey.pem", "etc/privkey.pem"},
           {copy, "files/cert.pem", "etc/cert.pem"}
          ]}.
